<!--<div class="design">Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design
    Design
    Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design
    Design Design Design Design Design Design Design
    Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design
    Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design
    Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design
    Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design
    Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design
    Design Design Design Design Design Design Design Design Design
</div>-->

<div class="about-wrapper">
    <div class="about-content">


        <div class="text">
            <div class="title">Creativity with Quality</div>

            <div class="text-body">I am a graphic designer currently located in TORONTO.
                             I create visuals for MOBILE, WEB, and PRINT.
                </br>The modern world should have more clean and
                simple design with a clear message for the end user. That's what I work on every day.
            </div>
    <div class="palette"/></div>
    </div>
</div>