  <div class="title first">A little more about me: </div>
  <div class="body-more"> I learn Mandarin, dance salsa, play squash, love foosball, paint, and use my juicer every day.
  If you'd like to find out even more, discuss a work project, or just say "Hi!", please drop me a line.
  Cheers!</div>
  <div class="title second" >You can find me at</div>
  <a href="http://www.linkedin.com/pub/oleksandra-sydorenko/40/571/b78" target="_blank" class="icon icon-linkedin">LinkedIn</a>
  <a href="mailto:oleksandra.sydorenko@hotmail.com?Subject=Hello%20again" target="_top"><div class="email">oleksandra.sydorenko@hotmail.com</div></a>



