  <div class="moreabout">A little more about me:
  </br> I learn Mandarin, dance salsa, play squash, love foosball, paint in traditional style, and use my juicer every day.
  </br> If you'd like to find out even more, discuss a work project, or just say "Hi!", please drop me a line.
  </br>Cheers!</div>

    <div class="title">You can find me at</div>
    <a href="http://www.linkedin.com/pub/oleksandra-sydorenko/40/571/b78" target="_blank" class="icon icon-linkedin">LinkedIn</a>
    <a href="mailto:oleksandra.sydorenko@hotmail.com?Subject=Hello%20again" target="_top"><div class="email">oleksandra.sydorenko@hotmail.com</div></a>



