<div class="column first">
    <div class="title1">A little more about me:</div>
    <div class="body-more"> I learn Mandarin, dance salsa, play squash, love foosball, paint, and use my juicer every day.
        </br>If you'd like to find out even more, discuss a work project, or just say "Hi!", please drop me a line.
        </br>Cheers!
    </div>
    <div class="title2">You can find me at</div>
    <a href="mailto:oleksandra.sydorenko@hotmail.com?Subject=Hello%20again" target="_top">
        <div class="email">oleksandra.sydorenko@hotmail.com</div>
    </a>
    <a href="http://www.linkedin.com/pub/oleksandra-sydorenko/40/571/b78" target="_blank" class="icon icon-linkedin"></a>
    <a href="http://www.cargocollective.com/sydorenko" target="_blank" class="icon icon-cargo"></a>

</div>

<div class="column second">

      <input type="email" class="input email-email" placeholder="From:  Your Email"/>
    <input type="myemail" class="input email-myemail" placeholder="To:  oleksandra.sydorenko@hotmail.com"/>
    <textarea type="text" class="input email-message" placeholder="Your Message"/>


    <div class="nav-btn email-submit icon icon-mail"/>
</div>