<div class="contact-paragraph">
    <div class="title">You can find me at</div>
    <a href="http://www.linkedin.com/pub/oleksandra-sydorenko/40/571/b78" target="_blank" class="icon icon-linkedin">LinkedIn</a>
    <a href="mailto:oleksandra.sydorenko@hotmail.com?Subject=Hello%20again" target="_top">oleksandra.sydorenko@hotmail.com</a>


</div>
