<div class="column first">
    <div class="title1">A little more about me:</div>
    <div class="body-more"> I learn Mandarin, dance salsa, play squash, love foosball, paint, and use my juicer every day.
        </br>If you'd like to find out even more, discuss a work project, or just say "Hi!", please drop me a line.
        Cheers!
    </div>
    <div class="title2">You can find me at</div>
    <a href="mailto:oleksandra.sydorenko@hotmail.com?Subject=Hello%20again" target="_top">
        <div class="email">oleksandra.sydorenko@hotmail.com</div>
    </a>
    <a href="http://www.linkedin.com/pub/oleksandra-sydorenko/40/571/b78" target="_blank">
        <div class="icon icon-linkedin2"></div>
    </a>
    <a href="http://www.dribbble.com/oleksandra" target="_blank">
        <div class="icon icon-dribbble2"></div>
    </a>


</div>

<div class="column second">


    <input type="email" class="input email-email" placeholder="From: Your Email"/>


    <div class="email-to">To: oleksandra.sydorenko@hotmail.com</div>
    <div class="input-wrapper">
        <div class="textarea-wrapper">
            <div class="textarea"><textarea type="text" class="input email-message" placeholder="Your Message"/></div>
            <div class="email-submit icon icon-mail2"></div>
        </div>
    </div>
</div>