<div class="main-title">
    <div class="subtitle-block">
        <div class="subtitle">Web</div>
        <div class="subtitle">Mobile</div>
        <div class="subtitle">Graphic</div>
    </div>
    <div class="title">Designer</div>
</div>

<!-- Synchronize animation of the letters with animation of the paintbrush -->
<div class="names">
    <div class="first-name" data-1600="color:rgb(255,255,255);" data-1800="color:rgb(204, 34, 41);">Oleksandra</div>
    <div class="last-name" data-2250="color:rgb(255,255,255);" data-2500="color:rgb(204, 34, 41);">Sydorenko</div>
</div>


<div class="glass_perm"/>
<div class="paintbuck"/>

<!--For safari add   -webkit-transform: translateZ(0); to the data-0-->
<div class="brush" data-smooth-scrolling="on"
     data-0="top: 170px; left: 90px; height: 270px; transform: rotate(-12deg) scaleY(1); background-position: !0px 0px;"
     data-100="top: 45px; left: 120px; height: 395px; transform: rotate(-10deg) scaleY(1)"
     data-300="top: 48px; left: 228px; transform: rotate(72deg) scaleY(1);"
     data-400="top: 24px; left: 248px; transform: rotate(107deg) scaleY(1);"
     data-600="top: 97px; left: 261px; transform: rotate(136deg) scaleY(1);"
     data-750="top: 170px; left: 282px; transform: rotate(185deg) scaleY(1); background-position: !-75px 0px;"
     data-800="top: 190px; left: 282px; rotate(185deg) scaleY(1); "
     data-1000="top: 199px; left: 282px; transform: rotate(185deg) scaleY(1);"
     data-1199="top: 190px; left: 282px; transform: rotate(185deg) scaleY(1);"
     data-1200="background-position: !-150px 0px;"
     data-1350="top: 120px; background-position: !-225px 0px;"
     data-1400="top: 80px; left: 322px; transform: rotate(185deg) scaleY(1); background-position: !-225px 0px;"
     data-1599="top: -20px; left: 435px; transform: rotate(200deg) scaleY(1); background-position: !-225px 0px;"
     data-1600="transform: rotate(200deg) scaleY(1); background-position: !-300px 0px;"
     data-1800="top: -20px; left: 855px; background-position: !-300px 0px;"
     data-1999="top: 65px; left: 855px; transform: rotate(200deg) scaleY(1)"
     data-2000="transform: rotate(-10deg) scaleY(-1)"
     data-2200="transform: rotate(-15deg) scaleY(-1)"
     data-2499="top: 65px; left: 335px;transform: rotate(-15deg) scaleY(-1)"
     data-2500="top: 65px; left: 335px;transform: rotate(175deg) scaleY(1)"
     data-2700="top: 48px; left: 192px; transform: rotate(72deg) scaleY(1);"
     data-2900="top: 45px; left: 120px; height: 395px; transform: rotate(-10deg) scaleY(1)"
     data-3000="top: 170px; left: 90px; height: 270px;"
        />


<div class="names-subtitle">
    <div class="row">available for new projects</div>
    <div class="row">ideas, collaborations</div>
</div>