<div class="main-title">
    <div class="subtitle-block">
        <div class="subtitle">Web</div>
        <div class="subtitle">Mobile</div>
        <div class="subtitle">Graphic</div>
    </div>
    <div class="title">Designer</div>
</div>

<!-- Synchronize animation of the letters with animation of the paintbrush -->
<div class="names">
    <div class="first-name" data-1750="color:rgb(255,255,255);" data-2000="color:rgb(204, 34, 41);">Oleksandra</div>
    <div class="last-name" data-2300="color:rgb(255,255,255);" data-2450="color:rgb(204, 34, 41);">Sydorenko</div>
</div>


<div class="glass_perm"/>
<div class="paintbuck"/>

<!--For safari add   -webkit-transform: translateZ(0); to the data-0-->
<div class="brush" data-smooth-scrolling="on" data-0="top: 220px; left: 130px; height: 270px; transform: rotate(-12deg) scaleY(1);"
     data-250="top: 95px; left: 120px; height: 395px; transform: rotate(-10deg) scaleY(1)"
     data-500="top: 98px; left: 228px; transform: rotate(72deg) scaleY(1);"
     data-750="top: 74px; left: 248px; transform: rotate(107deg) scaleY(1);"
     data-1000="top: 147px; left: 261px; transform: rotate(136deg) scaleY(1);"
     data-1209="top: 240px; left: 322px; transform: rotate(185deg) scaleY(1); background-position: !0px 0px;"
     data-1210="background-position: !-75x 0px;"
     data-1250="top: 249px; left: 322px; transform: rotate(185deg) scaleY(1);"
     data-1349="top: 240px; left: 322px; transform: rotate(185deg) scaleY(1); background-position: !-75px 0px;"
     data-1350="background-position: !-225px 0px;"
     data-1500="top: 130px; left: 322px; transform: rotate(185deg) scaleY(1); background-position: !-225px 0px;"
     data-1749="top: 40px; left: 435px; transform: rotate(200deg) scaleY(1); background-position: !-225px 0px;"
     data-1750="transform: rotate(200deg) scaleY(1); background-position: !-300px 0px;"
     data-2000="top: 20px; left: 855px; background-position: !-300px 0px;"
     data-2249="top: 115px; left: 855px; transform: rotate(200deg) scaleY(1)"
     data-2250="transform: rotate(-10deg) scaleY(-1)"
     data-2300="transform: rotate(-15deg) scaleY(-1)"
     data-2499="top: 115px; left: 335px;transform: rotate(-15deg) scaleY(-1)"
     data-2500="top: 115px; left: 335px;transform: rotate(175deg) scaleY(1)"
     data-2650="top: 98px; left: 192px; transform: rotate(72deg) scaleY(1);"
     data-2750="top: 95px; left: 120px; height: 395px; transform: rotate(-10deg) scaleY(1)"
     data-3000="top: 220px; left: 130px; height: 270px;"
        />


<div class="names-subtitle">
    <div class="row">available for new projects</div>
    <div class="row">ideas, collaborations</div>
</div>