/*.main-bg {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 1800px;
  position: absolute;
  display: block;
} */
.section-content {
  margin-left: 22%;
  margin-right: auto;
  width: 60%;
  position: relative;
}
@media (max-width: 1800px) {
  .section-content {
    width: 70%;
  }
}
.navigation {
  top: 0%;
  left: 10%;
  width: 100px;
  height: 10%;
  position: fixed;
  display: block;
  z-index: 1200;
  color: #b7b7b8;
  font-family: vrinda, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}
.navigation .label {
  margin-bottom: 5px;
  font-size: 25px;
}
.navigation .scroll-label {
  margin-top: 50px;
  visibility: visible;
}
.nav-btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 70px;
  height: 70px;
  display: block;
  font-size: 4em;
  text-decoration: none;
}
.nav-btn-active {
  margin-top: -10px;
  width: 80px;
  height: 80px;
  font-size: 5em;
}
.label-active {
  visibility: visible;
}
.navigation .nav-btn:hover,
.navigation .nav-btn:focus,
.navigation .nav-btn:active {
  margin-top: -10px;
  width: 80px;
  height: 80px;
  font-size: 5em;
}
.navigation .nav-btn-scroller {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 70px;
  height: 70px;
  display: block;
  font-size: 4em;
  text-decoration: none;
}
/*.nav-btn .info {
  margin-top: 10%;
  background-color: transparent;
  margin-left: -10px;
  font-size: 1em; //40px;
  display: block;
}  */
info:hover,
info:active,
input:hover + info,
input:active + info {
  background: yellow;
}
.navigation .scroll-hint .label {
  margin-top: 10%;
  background-color: transparent;
  margin-left: -10px;
  font-size: 2.3em;
  display: block;
}
.navigation .scroll-hint .btn-scroll {
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
  display: block;
  font-size: 4em;
  text-decoration: none;
}
/*.navigation .scroll-hint .btn-scroll:hover,
.navigation .scroll-hint .btn-scroll:active,
.navigation .scroll-hint .btn-scroll:focus {
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
  display: block;
  font-size: 4em; //50px;
  text-decoration: none;
} */
.skrollr-parent {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
}
.hi {
  background-color: #4b849a;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 1px;
}
.hi .main-title {
  font-family: vrinda, "Helvetica Neue", Arial, sans-serif;
  margin-left: 5%;
  margin-top: 5%;
  color: #b7b7b8;
}
.hi .main-title .subtitle-block {
  width: 150px;
  display: inline-block;
  margin-right: 5px;
}
.hi .main-title .subtitle-block .subtitle {
  text-align: right;
  font-size: 1.2em;
  line-height: 1.1em;
}
.hi .main-title .title {
  font-size: 5.4em;
  display: inline-block;
}
.hi .glass_perm {
  background-image: url("img/glass_perm.png");
  background-repeat: none;
  width: 191px;
  height: 439px;
  position: absolute;
  top: 250px;
  left: 60px;
  /*@media(max-height: 800px) { //add specific to the resolution config
    top: 120px;
  } */

}
.hi .paintbuck {
  background-image: url("img/paintbuck2.png");
  background-repeat: none;
  width: 117px;
  height: 140px;
  position: absolute;
  top: 505px;
  left: 240px;
}
.hi .brush {
  background-image: url("img/brushes_sprite.png");
  background-repeat: none;
  width: 70px;
  height: 270px;
  position: absolute;
  top: 170px;
  left: 90px;
  z-index: 3000;
}
.hi .names {
  position: absolute;
  top: 250px;
  left: 410px;
  color: #ffffff;
  font-family: kgt, "Helvetica Neue", Arial, sans-serif;
}
.hi .names .first-name {
  font-size: 6.3em;
  line-height: 1.1em;
  margin-bottom: -30px;
}
.hi .names .last-name {
  font-size: 7em;
  line-height: 1.1em;
  z-index: 1;
}
.hi .names-subtitle {
  position: absolute;
  top: 505px;
  left: 440px;
  color: #e9e8e6;
  font-size: 1.8em;
}
.low {
  top: 100%;
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
}
.low .mid-header {
  background-color: #f0f0f0;
  position: absolute;
  width: 100%;
  height: 150px;
  box-shadow: 0px 1px 15px 0px #888888;
  z-index: 1002;
}
.low .mid-header .names {
  -webkit-backface-visibility: hidden;
  margin-top: 2%;
  line-height: 1.1em;
  text-align: center;
  font-family: kgt, "Helvetica Neue", Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #ed1c24;
  font-size: 110px;
  left: 250px;
}
.low .low-scroll {
  width: 100%;
  height: 100%;
  z-index: 900;
  position: relative;
}
.low .about {
  background-image: url("img/bg.png");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.low .about .design {
  position: relative;
  padding-top: 160px;
  margin-left: -50%;
  margin-right: -50%;
  white-space: nowrap;
  overflow: hidden;
  color: #b7b7b8;
}
.low .about .creativity {
  color: #4b849a;
  font-size: 2.5em;
  margin-top: 10%;
  right: 5%;
  position: absolute;
  font-family: ohyeah, "Helvetica Neue", Arial, sans-serif;
}
.low .about .my-love {
  color: #4b849a;
  font-size: 1.5em;
  position: absolute;
  right: 5%;
  width: 30%;
  margin-top: 20%;
  font-weight: 100;
  display: block;
  text-align: right;
}
.low .about .palette {
  background-image: url("img/palette.png");
  position: absolute;
  margin-top: 15%;
  width: 551px;
  height: 311px;
}
.low .portfolio {
  position: absolute;
  padding-top: 10%;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 100%;
}
.low .portfolio .title {
  position: relative;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1.1em;
  font-size: 1em;
}
.low .portfolio .nivoSlider img {
  background-image: url("img/portfolio/slide1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.low .contacts {
  background-image: url("img/bg.png");
  background-repeat: repeat;
  position: absolute;
  padding-top: 15%;
  background-color: #fffcf2;
  width: 100%;
  height: 100%;
  top: 100%;
}
.low .contacts .title {
  font-family: kgt, "Helvetica Neue", Arial, sans-serif;
  color: #ed1c24;
  text-align: left;
  font-size: 3em;
  line-height: 1.1em;
}
.low .contacts a {
  margin-top: 10px;
  color: #ed1c24;
  text-decoration: none;
  font-family: kgt, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-size: 1.5em;
}
