/*.main-bg {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 1800px;
  position: absolute;
  display: block;
} */
.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
  position: relative;
}
@media (max-width: 1300px) {
  .section-content {
    margin-left: 11%;
    width: 85%;
  }
}
@media (min-width: 1300px) and (max-width: 1500px) {
  .section-content {
    width: 70%;
  }
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .section-content {
    width: 60%;
  }
}
.navigation {
  position: absolute;
  top: 65px;
  left: 7%;
  width: 100px;
  height: 10%;
  position: fixed;
  display: block;
  z-index: 1200;
  color: #b7b7b8;
  font-family: vrinda, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}
@media (max-width: 1300px) {
  .navigation {
    left: 1%;
  }
}
.navigation .label {
  margin-bottom: 5px;
  font-size: 25px;
}
.navigation .scroll-label {
  margin-top: 50px;
  visibility: visible;
}
.nav-btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 70px;
  height: 70px;
  display: block;
  font-size: 4em;
  text-decoration: none;
}
@media (max-height: 700px) {
  .nav-btn {
    height: 55px;
    width: 55px;
  }
}
@media (min-height: 700px) and (max-height: 800px) {
  .nav-btn {
    height: 65px;
    width: 65px;
  }
}
.label-active {
  visibility: visible;
}
.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
  margin-top: -10px;
  width: 80px;
  height: 80px;
  font-size: 5em;
}
@media (max-height: 700px) {
  .nav-btn:hover,
  .nav-btn:focus,
  .nav-btn:active {
    height: 65px;
    width: 65px;
  }
}
@media (min-height: 700px) and (max-height: 800px) {
  .nav-btn:hover,
  .nav-btn:focus,
  .nav-btn:active {
    height: 75px;
    width: 75px;
  }
}
.navigation .nav-btn-scroller {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 70px;
  height: 70px;
  display: block;
  font-size: 4em;
  text-decoration: none;
}
@media (max-height: 700px) {
  .navigation .nav-btn-scroller {
    height: 55px;
    width: 55px;
  }
}
@media (min-height: 700px) and (max-height: 800px) {
  .navigation .nav-btn-scroller {
    height: 65px;
    width: 65px;
  }
}
.navigation .scroll-hint .label {
  margin-top: 10%;
  background-color: transparent;
  margin-left: -10px;
  font-size: 2.3em;
  display: block;
}
.navigation .scroll-hint .btn-scroll {
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
  display: block;
  font-size: 4em;
  text-decoration: none;
}
.skrollr-parent {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
}
.hi {
  background-color: #4b849a;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 1px;
}
.hi .main-title {
  position: absolute;
  font-family: vrinda, "Helvetica Neue", Arial, sans-serif;
  margin-left: 20%;
  margin-top: 30px;
  color: #b7b7b8;
  z-index: 2000;
}
.hi .main-title .subtitle-block {
  width: 150px;
  display: inline-block;
  margin-right: 5px;
}
.hi .main-title .subtitle-block .subtitle {
  text-align: right;
  font-size: 1.2em;
  line-height: 1.1em;
}
.hi .main-title .title {
  font-size: 5.4em;
  display: inline-block;
}
.hi .brush-animation-box {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10%;
  top: 50px;
}
@media (max-height: 700px) {
  .hi .brush-animation-box {
    top: -100px;
  }
}
@media (min-height: 700px) and (max-height: 800px) {
  .hi .brush-animation-box {
    top: -50px;
  }
}
.hi .glass_perm {
  background-image: url("img/glass_perm.png");
  background-repeat: none;
  width: 191px;
  height: 439px;
  position: absolute;
  top: 250px;
  left: 60px;
  /*@media(max-height: 800px) { //add specific to the resolution config
    top: 120px;
  } */

}
.hi .paintbuck {
  background-image: url("img/paintbuck2.png");
  background-repeat: none;
  width: 117px;
  height: 140px;
  position: absolute;
  top: 505px;
  left: 240px;
}
.hi .brush {
  background-image: url("img/brushes_sprite.png");
  background-repeat: none;
  width: 70px;
  height: 270px;
  position: absolute;
  top: 170px;
  left: 90px;
  z-index: 3000;
}
.hi .names {
  position: absolute;
  top: 250px;
  left: 410px;
  color: #ffffff;
  font-family: kgt, "Helvetica Neue", Arial, sans-serif;
}
.hi .names .first-name {
  font-size: 101px;
  line-height: 1.1em;
  margin-bottom: -30px;
}
.hi .names .last-name {
  font-size: 112px;
  line-height: 1.1em;
  z-index: 1;
}
.hi .names-subtitle {
  position: absolute;
  top: 505px;
  left: 440px;
  color: #e9e8e6;
  font-size: 1.8em;
}
.low {
  top: 100%;
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
}
.low .mid-header {
  background-color: #f0f0f0;
  position: absolute;
  width: 100%;
  height: 100px;
  box-shadow: 0px 1px 15px 0px #888888;
  z-index: 1002;
}
.low .mid-header .names {
  -webkit-backface-visibility: hidden;
  margin-top: 15px;
  line-height: 1.1em;
  text-align: center;
  font-family: kgt, "Helvetica Neue", Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #ed1c24;
  font-size: 90px;
  left: 250px;
}
.low .low-scroll {
  width: 100%;
  height: 100%;
  z-index: 900;
  position: relative;
}
.low .about {
  background-image: url("img/bg.png");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.low .about .about-wrapper {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 100%;
}
.low .about .about-content {
  position: absolute;
  width: 100%;
  height: 95%;
}
.low .about .design {
  position: relative;
  padding-top: 100px;
  margin-left: -50%;
  margin-right: -50%;
  white-space: nowrap;
  overflow: hidden;
  color: #b7b7b8;
}
.low .about .text {
  margin-top: 0px;
  right: 0%;
  position: absolute;
  width: 60%;
  text-align: right;
}
@media (max-width: 1100px) {
  .low .about .text {
    width: 50%;
  }
}
.low .about .text .title {
  color: #4b849a;
  font-size: 2.5em;
  font-family: ohyeah, "Helvetica Neue", Arial, sans-serif;
}
.low .about .text .text-body {
  color: dimgray;
  font-size: 1.5em;
  margin-top: 5%;
  font-weight: 100;
  margin-left: 40%;
  display: block;
  text-align: right;
}
.low .about .palette {
  background-image: url("img/palette.png");
  position: absolute;
  margin-top: 50px;
  width: 551px;
  height: 311px;
}
.low .portfolio {
  position: absolute;
  padding-top: 70px;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 100%;
}
.low .portfolio .title {
  position: relative;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: ohyeah, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1.1em;
  font-size: 2.5em;
}
.low .portfolio .nivoSlider img {
  background-image: url("img/portfolio/slide1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.low .contacts {
  background-image: url("img/bg.png");
  background-repeat: repeat;
  position: absolute;
  padding-top: 150px;
  background-color: #fffcf2;
  width: 100%;
  height: 100%;
  top: 100%;
}
.low .contacts .column {
  width: 50%;
  float: left;
  display: block;
}
.low .contacts .title {
  font-family: ohyeah, "Helvetica Neue", Arial, sans-serif;
  color: #b7b7b8;
  font-size: 3em;
  line-height: 1.1em;
}
.low .contacts .body-more {
  font-family: roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  width: 50%;
  color: dimgray;
}
.low .contacts a {
  margin-top: 10px;
  text-decoration: none;
  font-family: kgt, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-size: 1.5em;
}
.contacts .input {
  display: block;
  font-family: ohyeah, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.3em;
  line-height: 1.1em;
  padding: 10px;
  height: 3em;
  margin-bottom: 50px;
  width: 100%;
}
.contacts .email-message {
  height: 200px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top-color: #4b849a;
  border-width: 3px;
  background: none;
  margin-bottom: 10px;
}
::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #4b849a;
}
.contacts .email-submit {
  color: #ed1c24;
}
.contacts .email-submit:hover,
.contacts .email-submit:focus,
.contacts .email-submit:active {
  cursor: pointer;
}
