{{! {"styles" : ["js/views/home/home"]} }}
<!-- TODO make all distances equal or make the duration function to move differently depending on the scroll position (see menu examples at github),
because right now it is too fast in the beginning -->
<!--data-3500="margin-top:15%;"-->
 <div class="navigation" data-0="margin-top:7%;" data-3000="margin-top:7%;" data-3500="margin-top:17%;">
    {{> views_home_navigationPartial }}
</div>


<div class="skrollr-parent"
     data-0="top:0%"
     data-3000="top:0%"
     data-3500="top:-100%"><!-- Switch to second page between 3000 and 3500-->

    <div class="hi"
         data-3500="top: 0%"
         data-4000="top: -100%;"> <!-- hide when it is not needed any more. If you edit the skrollr-parent, but not the hi element, they may get out of sync  -->
        <div class="section-content">
            {{> views_home_hiPartial }}
        </div>
    </div>

    <div class="low">

        <div class="mid-header">
            <div class="names">Oleksandra Sydorenko</div>
        </div>

        <div class="low-scroll">
            <!-- appears at 3500, use in nav -->
            <div class="about"
                 data-4000="top:0%;"
                 data-4500="top:-100%;">
                <div class="section-content">
                    {{> views_home_aboutPartial }}
                </div>
            </div>

            <!-- appears at 4500, use in nav -->
            <div class="portfolio"
                 data-4000="top:100%;"
                 data-4500="top:0%;"
                 data-5000="top:0%;"
                 data-5500="top:-100%;"> <!-- Start moving the portfolio away to move to the
            third page -->
                <div class="section-content">
                    {{> views_home_portfolioPartial }}
                </div>
            </div>

            <!-- appears at 5500, use in nav -->
            <div class="contacts"
                 data-5000="top:100%"
                 data-5500="top:0%">
                <div class="section-content">
                    {{> views_home_contactsPartial }}
                </div>
            </div>
        </div>
    </div>
</div>
