@kgtFont: kgt, "Helvetica Neue", Arial, sans-serif;
@vrindaFont: vrinda, "Helvetica Neue", Arial, sans-serif;
@robotoFont: roboto, "Helvetica Neue", Arial, sans-serif;
@ohyeahFont: ohyeah, "Helvetica Neue", Arial, sans-serif;
@alwaysFont: alwaysto, "Helvetica Neue", Arial, sans-serif;

@colorLightGray: #e9e8e6;
@colorGray: #b7b7b8;
@colorBlue: #4b849a;
@colorYellow: #fffcf2;
@colorRed: #ed1c24;
@colorWhite: #ffffff;
@colorLightest: #f0f0f0;

//TODO make every distance as a relative percentage instead of using absolute values

/*.main-bg {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 1800px;
  position: absolute;
  display: block;
} */

.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
  position: relative;

  @media (max-width: 1300px) {
    //add specific to the resolution config
    margin-left: 11%;
    width: 85%;
  }

  @media (min-width: 1300px) and (max-width: 1500px) {
    width: 70%;
  }

  @media (min-width: 1500px) and (max-width: 1700px) {
    width: 60%;
  }

  //  @media(max-height: 600px) { //add specific to the resolution config
  //    margin-left:11%;
  //    width: 85%;
  //  }
  //  @media(max-width: 1800px) { //add specific to the resolution config
  //    width: 70%;
  //  }
}

.navigation {
  position: absolute;
  top: 65px; //manipulated in homeTemplate by skrollr
  left: 7%;
  width: 100px;
  height: 100%;
  position: fixed;
  display: block;
  z-index: 1200;
  color: @colorGray;
  font-family: @vrindaFont;
  text-align: center;

  @media (max-width: 1300px) {
    //add specific to the resolution config
    left: 1%;
  }
}

.navigation .label {
  margin-bottom: 5%; //use percentage to test how it looks on a bigger resolution
  font-size: 25px;
}

.navigation .nav {
  position: absolute;
  width: 100%;
}

.nav-hi {
  top: 0%;
}

.nav-about {
  top: 15%;
}

.nav-portfolio {
  top: 30%;
}

.nav-contacts {
  top: 45%;
}

.nav-scroll {
  top: 60%;
}

.navigation .scroll-label {
  margin-top: 50px;
  visibility: visible;
}

.nav-btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 100%;
  display: block;
  font-size: 4em;
  text-decoration: none;
  text-align: center;

}

.label-active {
  visibility: visible;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
  margin-top: -5%;//use percentage to test on bigger resolutions
  font-size: 5em;

}

.navigation .nav-btn-scroller {
  .nav-btn;
}

.navigation .scroll-hint .label {
  margin-top: 10%;
  background-color: transparent;
  margin-left: -10px;
  font-size: 2.3em; //40px;
  display: block;
}

.navigation .scroll-hint .btn-scroll {
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
  display: block;
  font-size: 4em; //50px;
  text-decoration: none;
}

.skrollr-parent {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
}

.hi {
  background-color: @colorBlue;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 1px; //hack so that the background has color where the margins are used
}

//TITLE
.hi .main-title {
  position: absolute;
  font-family: @vrindaFont;
  margin-left: 20%;
  margin-top: 30px;

  color: @colorGray;
  z-index: 2000;
}

.hi .main-title .subtitle-block {

  width: 150px;
  display: inline-block;
  margin-right: 5px;
}

.hi .main-title .subtitle-block .subtitle {
  text-align: right;
  font-size: 1.2em; //19px;
  line-height: 1.1em;//22px;
}

.hi .main-title .title {
  font-size: 5.4em; // 86px;
  display: inline-block;
}

//Animation box

.hi .brush-animation-box {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10%;
  //overflow: hidden;
  //background-color: yellow;
  top: 50px;
  @media (max-height: 700px) {
    //add specific to the resolution config
    top: -100px;
  }
  @media (min-height: 700px) and (max-height: 800px) {
    //add specific to the resolution config
    top: -50px;
  }
}

//Images
.hi .glass_perm {
  background-image: url("img/glass_perm.png");
  background-repeat: none;
  width: 191px;
  height: 439px;
  position: absolute;
  top: 250px;
  left: 60px;
  /*@media(max-height: 800px) { //add specific to the resolution config
    top: 120px;
  } */
}

.hi .paintbuck {
  background-image: url("img/paintbuck2.png");
  background-repeat: none;
  width: 117px;
  height: 140px;
  position: absolute;
  top: 505px;
  left: 240px;
}

.hi .brush { //brush to be animated in html
  background-image: url("img/brushes_sprite.png");
  background-repeat: none;
  width: 70px;
  height: 270px;
  position: absolute;
  top: 170px;
  left: 90px;
  z-index: 3000;
}

.hi .names {
  position: absolute;
  top: 250px;
  left: 410px;
  color: @colorWhite;
  font-family: @kgtFont;
}

.hi .names .first-name {
  font-size: 101px; //6.3em; // 101px;
  line-height: 1.1em;
  margin-bottom: -30px;

}

.hi .names .last-name {
  font-size: 112px; // 7em; //112px;
  line-height: 1.1em;
  z-index: 1;

}

.hi .names-subtitle {
  position: absolute;
  top: 505px;
  left: 440px;
  color: @colorLightGray;
  font-size: 1.8em; //30px;
}

//LOWER PART OF THE SCREEN

.low {
  top: 100%; //it will start after the page ends
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
}

.low .mid-header {
  background-image: url("img/bg.png");
  //background-color: @colorLightest;
  position: absolute;
  //top: 100%; //it will start after the page ends
  //left: 0px;
  width: 100%;
  height: 100px;
  box-shadow: 0px 1px 15px 0px #888888;
  z-index: 1002;
  //@media(min-height: 100px);
}

.low .mid-header .names {
  -webkit-backface-visibility: hidden;
  margin-top: 15px;

  line-height: 1.1em;
  text-align: center;
  font-family: @kgtFont;
  margin-left: auto;
  margin-right: auto;
  color: @colorRed;
  font-size: 90px;//7em;

  left: 250px;
}

.low .low-scroll {
  width: 100%;
  height: 100%;
  z-index: 900;
  position: relative;
}

.low .about {
  //background-color: @colorLightest;
  background-image: url("img/bg.png");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

.low .about .about-wrapper {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 100%;
}

.low .about .about-content {
  position: absolute;
  width: 100%;
  height: 95%;
}

.low .about .design {
  position: relative;
  padding-top: 100px; //margin equal to the .mid-header's height
  margin-left: -50%;
  margin-right: -50%;

  white-space: nowrap;
  overflow: hidden;
  color: @colorGray;
}

.low .about .text {
  margin-top: 0px;
  right: 0%;
  position: absolute;
  width: 100%;
  text-align: center;
  //@media(max-width: 1100px) {
  //   width:50%;
  //}
}

.low .about .text .title {
  color: @colorBlue;
  font-size: 2.5em;
  font-family: @ohyeahFont;
}

.low .about .text .text-body {
  color: dimgray;
  font-size: 2em; //15px;
  margin-top: 1%;
  font-weight: 100;
  margin-left: 7%;
  display: block;
  text-align: left;
  font-family: @alwaysFont;
  margin-top: 0.5em;
}

.low .about .palette {
  background-image: url("img/palette.png");
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 551px;
  height: 311px;

}

.low .portfolio {
  position: absolute;
  padding-top: 70px;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 100%;
}

.low .portfolio .title {
  position: relative;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: @ohyeahFont;
  text-transform: uppercase;
  line-height: 1.1em;
  font-size: 2.5em;
}

.low .portfolio .nivoSlider img {
  background-image: url("img/portfolio/slide1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.low .contacts {
  background-image: url("img/bg.png");
  background-repeat: repeat;
  position: absolute;
  padding-top: 150px;
  background-color: @colorYellow;
  width: 100%;
  height: 100%;
  top: 100%;
}

.low .contacts .contact-paragraph {
}

.low .contacts .column {
  width: 50%;
  float: left;
  display: block;
  margin-top: 5%;
}



.low .contacts .title1 {
  font-family: @ohyeahFont;
  color: @colorGray;
  font-size: 3em;//50px;
  line-height: 1.1em;
  margin-bottom: 10px;
  margin-left: 10px;

}

.low .contacts .title2 {
  font-family: @ohyeahFont;
  color: @colorGray;
  font-size: 3em;//50px;
  line-height: 1.1em;
  margin-top: 30px;
  margin-left: 10px;

}

.low .contacts .body-more {
  font-family: @alwaysFont;
  display: block;
  width: 70%;
  color: dimgray;
  font-size: 2em;
  margin-left: 10px;
}

.low .contacts .icon {
  margin-top: 20px;
  color: @colorRed;
  text-decoration: none;
  font-family: @kgtFont;
  border: none;
  display: inline-block;
  font-size: 3em;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.low .contacts a {
  text-decoration: none;
}

.low .contacts .email {
  margin-top: 10px;
  color: @colorRed;
  text-decoration: none;
  font-family: @kgtFont;
  font-size: 2em;
  text-align: left;
  border: none;
  text-decoration: none;
  margin-left: 10px;
}

.contacts .input {
  display: block;
  font-family: @alwaysFont;
  font-size: 1.8em;
  line-height: 1.5em;
  padding: 10px;
  height: 3em;
  vertical-align: top;
  border-top: 3px solid @colorGray;
  border-bottom: 3px solid @colorGray;
  border-left: none;
  border-right: none;
  background: none;
  width: 100%;
}

//
//.contacts .input-wrapper {
//
//  display: block;
//  font-family: @alwaysFont;
//  font-size: 1.8em;
//  line-height: 1.5em;
//  padding: 10px;
//  height: 3em;
//  vertical-align: top;
//  border-top: 3px solid @colorGray;
//  border-bottom: 3px solid @colorGray;
//  border-left: none;
//  border-right: none;
//  background: none;
//  width: 100%;
//
//
//}



.contacts .input:hover,
.contacts .input:focus,
.contacts .input:active {
  outline: 10px;
  outline-color: @colorRed;
  text-decoration: tomato;
}


.contacts .input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: @colorBlue;
}

.contacts .input:focus::-webkit-input-placeholder, {
  color: transparent;
}
.contacts .input:focus:-ms-input-placeholder {
  color: transparent;
}
.contacts .input:focus::-moz-placeholder {
  color: transparent;
}

.contacts .email-to {
  font-family: @alwaysFont;
  font-size: 1.8em;
  line-height: 1.5em;
  padding: 10px;
  height: 3em;

  display: table-cell;
  vertical-align: middle;

  border-bottom: none;
  border-left: none;
  border-right: none;
  color: @colorBlue;
}


.contacts .textarea-wrapper {
  position: relative;
  height: 200px;
}

.contacts .textarea-wrapper .email-message {

  background: none;
  border-bottom:none;
  padding-top: 30px;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
  height: 100%;

}


.contacts .textarea-wrapper .email-submit {
  position: absolute;
  bottom:0%;
  right:0%;
  //  width: 50%;
  display: block;
  font-size: 4em;
  color: @colorRed;
  //z-index: 1000;
}

.contacts .email-submit:hover,
.contacts .email-submit:focus,
.contacts .email-submit:active,
{
  text-align: right;
  cursor: pointer;
  right:-1%;
  bottom:-4%;
  //margin-top: 5%;//use percentage to test on bigger resolutions
  font-size: 5em;
}