@kgtFont: kgt, "Helvetica Neue", Arial, sans-serif;
@vrindaFont: vrinda, "Helvetica Neue", Arial, sans-serif;
@robotofont: roboto, "Helvetica Neue", Arial, sans-serif;

//TODO make every distance as a relative percentage instead of using absolute values

/*.main-bg {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 1800px;
  position: absolute;
  display: block;
} */

.navigation {
  top: 0%;
  left: 0%;
  width: 10%;
  height: 10%;
  position: fixed;
  display: block;
  background-color: green;
  z-index:1200;
}
.skrollr-parent {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
}


.home {
  background-color: #4b849a;
  width: 100%;
  height: 100%;
  padding-top: 1px; //hack so that the background has color where the margins are used
}



//TITLE
.main-title {
  font-family: @vrindaFont;
  margin-left: 30%;
  margin-top: 5%;
  color: #b7b7b8;
}

.main-title .subtitle-block {

  width: 150px;
  display: inline-block;
  margin-right: 5px;
}

.main-title .subtitle-block .subtitle {
  text-align: right;
  font-size: 19px;
  line-height: 1.1em;//22px;
}

.main-title .title {
  font-size: 86px;
  display: inline-block;
}

//Images
.glass_perm {
  background-image: url("img/glass_perm.png");
  background-repeat: none;
  width: 191px;
  height: 439px;
  position: absolute;
  top: 300px;
  left: 580px;
}

.paintbuck {
  background-image: url("img/paintbuck2.png");
  background-repeat: none;
  width: 117px;
  height: 140px;
  position: absolute;
  top: 555px;
  left: 760px;
}

.brush1 { //brush to be animated in html
  background-image: url("img/brushes_sprite.png");
  background-repeat: none;
  //width: 126px;
  //height: 375px;
  background-position: 0px 0px;
  width: 126px;
  height: 270px;
  position: absolute;
  top: 220px;
  left: 575px;
}

.home .names {
  position: absolute;
  top: 300px;
  left: 890px;
  color: #ffffff;
  font-family: @kgtFont;
}

.home .names .first-name {
  font-size: 101px;
  line-height: 1.1em;
  margin-bottom: -30px;
}

.home .names .last-name {
  font-size: 112px;
  line-height: 1.1em;

}

.names-subtitle {
  position: absolute;
  top: 555px;
  left: 920px;
  color: #ffffff;
  font-size: 30px;
}




//LOWER PART OF THE SCREEN


.low {
  top: 100%; //it will start after the page ends
  position: absolute;
  left: 0px;
  height:100%;
  width: 100%;
}

.low .mid-header {
  background-color: yellow;
  position: absolute;
  //top: 100%; //it will start after the page ends
  //left: 0px;
  width: 100%;
  height: 150px;
  box-shadow: 0px 10px 5px 0px #888888;
  z-index: 1002;
}

.low .mid-header .names {
  margin-top:100px;
  text-align: center;
  font-family: @kgtFont;
  margin-left: auto;
  margin-right: auto;
  color: #ed1c24;
  font-size: 100px;
  display: block;
}

.low .low-scroll {
  width: 100%;
  height: 100%;
  z-index: 900;
  position: relative;
}

.low .about {
  background-color: #e9e8e6;
  width: 100%;
  height: 100%;
  position: relative;
}

.low .about .design {
  position: relative;
  padding-top: 160px;  //margin equal to the .mid-header's height
  margin-left:-60px;
  white-space: nowrap;
  overflow: hidden;
}

.low .about .my-love {
  color:teal;
  font-size:15px;
  position: absolute;
  width: 10%;
  margin-left:55%;
  margin-top:6%;
  text-transform: uppercase;
  display: block;

}

.low .about .palette {
  background-image: url("img/palette.png");
  position: absolute;
  margin-left:30%;
  margin-top:10%;
  width: 551px;
  height: 311px;
}


.low .portfolio {
  position: absolute;
  padding-top:15%;
  background-color: black;
  width: 100%;
  height: 100%;
  top:100%;
}
.low .contacts {
  position: absolute;
  padding-top:15%;
  background-color: #4b849a;
  width: 100%;
  height: 100%;
  top:100%;
}

