
    <div class="nav nav-hi">
        <div class="label"
             data-3000="color:rgb(183,183,184);opacity:1"
             data-3500="color:rgb(75, 132, 154);opacity:0">
            Welcome
        </div>
        <a href="#hi" class="nav-btn icon icon-hi2" data-menu-top="0"
           data-3000="color:rgb(183,183,184);"
           data-3500="color:rgb(75, 132, 154);">
        </a>
    </div>

    <div class="nav nav-about">
        <div class="label"
             data-3000="color:rgb(183,183,184);opacity:0"
             data-3500="color:rgb(75, 132, 154);opacity:1"
             data-4000="opacity:1"
             data-4500="opacity:0">
            About
        </div>
        <a href="#about" class="nav-btn icon icon-about2" data-menu-top="3500"
           data-3000="color:rgb(183,183,184);"
           data-3500="color:rgb(75, 132, 154);">
        </a>
    </div>

    <div class="nav nav-portfolio">
        <div class="label"
             data-3000="color:rgb(183,183,184);"
             data-3500="color:rgb(75, 132, 154);"
             data-4000="opacity:0"
             data-4500="opacity:1"
             data-5000="opacity:1"
             data-5500="opacity:0">
            Portfolio
        </div>
        <a href="#portfolio" class="nav-btn icon icon-files2" data-menu-top="4500"
           data-3000="color:rgb(183,183,184);"
           data-3500="color:rgb(75, 132, 154);">
        </a>
    </div>


    <div class="nav nav-contacts">
        <div class="label"
             data-3000="color:rgb(183,183,184);"
             data-3500="color:rgb(75, 132, 154);"
             data-5000="opacity:0"
             data-5500="opacity:1">
            Contacts
        </div>
        <a href="#contacts" class="nav-btn icon icon-mail2" data-menu-top="5500"
           data-3000="color:rgb(183,183,184);"
           data-3500="color:rgb(75, 132, 154);">
        </a>
    </div>

    <div class="nav nav-scroll" data-0="opacity:1;" data-3000="opacity:1;" data-3500="opacity:0;">
        <div class="label scroll-label"
             data-3000="color:rgb(183,183,184);"
             data-3500="color:rgb(75, 132, 154);">
            Scroll
        </div>
        <div class="nav-btn-scroller icon icon-down2"/>
    </div>


<!--<div class="scroll-hint" data-0="opacity:1;" data-3000="opacity:1;" data-3500="opacity:0;">-->
<!--<div class="label">scroll</div>-->
<!--<div class="btn-scroll icon icon-down"/>-->
<!--</div>-->