<div class="title">Portfolio</div>


<div class="slider-wrapper theme-default">
    <div class="ribbon"></div>
    <div id="slider" class="nivoSlider">
        <img src="img/portfolio/bindings-logo.jpg" alt="" title="Logo concept for wakeboard/snowboard bindings company"/>
        <img src="img/portfolio/mandb.jpg" alt="" title="Logotype with custom lettering for fitness/life coach"/>


        <a href="https://chrome.google.com/webstore/detail/lions-and-leopards/fnbfmbeclfbloggbcffjfjpifoanmgef" target="_blank">
            <img src="img/portfolio/slide1_1.jpg" alt="" title="Game design
        / Graphics / Chrome Web Store - Starting screen"/> </a>
        <img src="img/portfolio/slide4_1.jpg" alt="" title="Poster design"/>
        <img src="img/portfolio/slide5_1.jpg" alt="" title="Vector collage / Graphics for mobile app"/>
        <img src="img/portfolio/slide6_1.jpg" alt="" title="Wireframes for alarm mobile app"/>
        <img src="img/portfolio/slide7_1.jpg" alt="" title="Web design"/>
        <img src="img/portfolio/coder.jpg" alt="" title="Illustration"/>
        <img src="img/portfolio/lines.jpg" alt="" title="Illustration. Personal project"/>
        <img src="img/portfolio/chic.jpg" alt="" title="Digital painting/illustration using Wacom Cintiq 13HD"/>
        <img src="img/portfolio/slide8_1.jpg" alt="" title="Photograph and flyer design for GiftswithLove.ca"/>
        <img src="img/portfolio/slide9_1.jpg" alt="" title="smartkitchen.com web illustration"/>
        <img src="img/portfolio/girl.jpg" alt="" title="Digital painting/illustration using Wacom Cintiq 13HD"/>
        <img src="img/portfolio/stilllife.jpg" alt="" title="Digital painting/illustration using Wacom Cintiq 13HD"/>
        <img src="img/portfolio/slide10_1.jpg" alt="" title="Original artwork for T-shirt"/>
        <img src="img/portfolio/slide11_1.jpg" alt="" title="Original artwork for T-shirt"/>
        <img src="img/portfolio/eaglet.jpg" alt="" title="Original artwork for T-shirt design"/>
    </div>

    <!--<div id="htmlcaption" class="nivo-html-caption">-->
    <!--<strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.-->
    <!--Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design-->
    <!--Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design-->
    <!--Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design-->
    <!--Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design-->
    <!--</div>-->

</div>
