<div class="title">Portfolio</div>


<div class="slider-wrapper theme-default">
    <div class="ribbon"></div>
    <div id="slider" class="nivoSlider">
        <img src="img/nemo.jpg" alt=""/>
        <img src="img/portfolio/slide1-rial.jpg" alt=""/>
        <a href="http://dev7studios.com"><img src="img/toystory.jpg" alt="" title="#htmlcaption"/></a>
        <img src="img/up.jpg" alt="" title="This is an example of a caption"/>
        <img src="img/walle.jpg" alt=""/>
    </div>
    <div id="htmlcaption" class="nivo-html-caption">
        <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
        Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design
        Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design
        Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design
        Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design Design
    </div>

</div>