@kgtFont: kgt, "Helvetica Neue", Arial, sans-serif;
@vrindaFont: vrinda, "Helvetica Neue", Arial, sans-serif;
@robotofont: roboto, "Helvetica Neue", Arial, sans-serif;

html {
  height: 7000px;
  width: 100%;
  //overflow: hidden;
}

body {
  font-family: @robotofont;
  padding: 0px;
  margin: 0px;
  height: 7000px;
  width: 100%;
}

a {
  color: #00B7FF;
}

@font-face {
  font-family: kgt;
  src: url(../fonts/KGTangledUpInYou2.ttf);
}

@font-face {
  font-family: vrinda;
  src: url('../fonts/vrinda.ttf');
}

@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto-Thin_0.ttf');
}
