html {
  height: 7500px;
  width: 100%;
  color: #fffcf2;
}
body {
  font-family: roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  height: 7000px;
  width: 100%;
}
a {
  color: #00B7FF;
}
@font-face {
  font-family: kgt;
  src: url(../fonts/KGTangledUpInYou2.ttf);
}
@font-face {
  font-family: vrinda;
  src: url('../fonts/vrinda.ttf');
}
@font-face {
  font-family: ohyeah;
  src: url('../fonts/ohyeah_0.ttf');
}
@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto-Thin_0.ttf');
}
