html {
  height: 7500px;
  width: 100%;
  color: #fffcf2;
}
body {
  font-family: roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  height: 7000px;
  width: 100%;
  font-size: 100%;
}
@media (max-height: 700px) {
  body {
    font-size: 80%;
  }
}
@media (min-height: 700px) and (max-height: 800px) {
  body {
    font-size: 85%;
  }
}
a {
  color: #00B7FF;
}
@font-face {
  font-family: kgt;
  src: url(../fonts/KGTangledUpInYou2.ttf);
}
@font-face {
  font-family: vrinda;
  src: url('../fonts/vrinda.ttf');
}
@font-face {
  font-family: ohyeah;
  src: url('../fonts/ohyeah_0.ttf');
}
@font-face {
  font-family: roboto;
  src: url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
  src: url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
