<a href="#hi" data-menu-top="0" class="nav-btn icon icon-hi"></a>
<a href="#about" data-menu-top="3500" class="nav-btn icon icon-about"></a>
<a href="#portfolio" data-menu-top="4500" class="nav-btn icon icon-files"></a>
<a href="#contacts" data-menu-top="5500" class="nav-btn icon icon-mail"></a>

<div class="scroll-hint" data-0="opacity:1;" data-3000="opacity:1;" data-3500="opacity:0;">
    <div class="label">scroll</div>
    <div class="nav-btn icon icon-down"/>
</div>